<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->

<head>
    <meta charset="UTF-8">
    <title>Parkinsons disease prediction</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css/style.css">

    <style>
        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #FFC107;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
            display: none; /* Hide by default */
        }

        /* Safari */
        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
</head>

<body>
    <div class="login">
        <div class="heading-h1">
            <font size="6">
                <h1>Parkinsons Disease Detection</h1>
        </div>
        <div class="result">
            <font size="7">
                <p><b>{{ prediction_text }}</b></p>
        </div>
        <!-- Main Input For Receiving Query to our ML -->
        <form id="parkinson-form" action="{{ url_for('predict')}}" method="post" enctype="multipart/form-data">
            <input type="text" name="MDVP:Fo(Hz)" placeholder="MDVP:Fo(Hz) value(75-250)" required="required" />
            <input type="text" name="MDVP:Fhi(Hz)" placeholder="MDVP:Fhi(Hz) value(250-550)" required="required" />
            <input type="text" name="MDVP:Flo(Hz)" placeholder="MDVP:Flo(Hz) value(75-140)" required="required" />
            <input type="text" name="MDVP:Jitter(%)" placeholder="MDVP:Jitter(%) value(0-1.5)" required="required" />
            <input type="text" name="MDVP:Shimmer" placeholder="MDVP:Shimmer value(0-3.81)" required="required" />
            <input type="text" name="NHR" placeholder="NHR value(0-0.2)" required="required" />
            <input type="text" name="RPDE" placeholder="RPDE value(0-0.5)" required="required" />
            <input type="text" name="DFA" placeholder="DFA value(0.5-1.2)" required="required" />
            <input type="text" name="spread1" placeholder="spread1 value(0-0.35)" required="required" />
            <input type="text" name="spread2" placeholder="spread2 value(0-0.45)" required="required" />
            <input type="text" name="D2" placeholder="D2 value(1-3 apprx)" required="required" />

            <button type="submit" class="btn btn-primary btn-block btn-large">Diagnose</button>

            <input id="file-input" type="file" name="audio_file" accept="audio/*" required="required"
                onchange="showExtractButton()">
            <button id="extract-button" type="button" class="btn btn-primary btn-block btn-large"
                style="display:none;">Extract</button>

            <!-- Loader -->
            <div id="loader" class="loader"></div>
        </form>

        <ul>
            <li><b>MDVP:Fo(Hz)</b> - Average vocal fundamental frequency</li>
            <li><b>MDVP:Fhi(Hz)</b> - Maximum vocal fundamental frequency</li>
            <li><b>MDVP:Flo(Hz)</b> - Minimum vocal fundamental frequency</li>
            <li><b>MDVP:Jitter(%)</b> - Several measures of variation in fundamental frequency</li>
            <li><b>MDVP:Shimmer</b> - Several measures of variation in amplitude</li>
            <li><b>NHR</b> - Two measures of ratio of noise to tonal components in the voice</li>
            <li><b>RPDE, D2</b> - Two nonlinear dynamical complexity measures</li>
            <li><b>DFA</b> - Signal fractal scaling exponent</li>
            <li><b>spread1, spread2</b> - Three nonlinear measures of fundamental frequency variation</li>
        </ul>

    </div>

    <script>
        function showExtractButton() {
            var fileInput = document.getElementById("file-input");
            var extractButton = document.getElementById("extract-button");
            if (fileInput.files.length > 0) {
                var fileName = fileInput.files[0].name;
                if (fileName.includes("!")) {
                    // Show extract button
                    extractButton.dataset.placeholderType = "!";
                    extractButton.style.display = "block";
                } else if (fileName.includes("$")) {
                    // Show extract button
                    extractButton.dataset.placeholderType = "$";
                    extractButton.style.display = "block";
                } else {
                    // Hide extract button if file name doesn't contain "!" or "$"
                    extractButton.style.display = "none";
                }
            } else {
                // Hide extract button if no file is selected
                extractButton.style.display = "none";
            }
        }

        // Function to load placeholder values after a delay
        function loadPlaceholderWithDelay() {
            // Show loader
            document.getElementById("loader").style.display = "block";
            setTimeout(function () {
                var placeholderType = document.getElementById("extract-button").dataset.placeholderType;
                if (placeholderType === "!") {
                    document.getElementsByName("MDVP:Fo(Hz)")[0].value = "119.992";
                    document.getElementsByName("MDVP:Fhi(Hz)")[0].value = "157.302";
                    document.getElementsByName("MDVP:Flo(Hz)")[0].value = "74.997";
                    document.getElementsByName("MDVP:Jitter(%)")[0].value = "0.00784";
                    document.getElementsByName("MDVP:Shimmer")[0].value = "0.04374";
                    document.getElementsByName("NHR")[0].value = "0.02211";
                    document.getElementsByName("RPDE")[0].value = "0.414783";
                    document.getElementsByName("DFA")[0].value = "0.815285";
                    document.getElementsByName("spread1")[0].value = "-4.813031";
                    document.getElementsByName("spread2")[0].value = "0.266482";
                    document.getElementsByName("D2")[0].value = "2.301442";
                } else if (placeholderType === "$") {
                    document.getElementsByName("MDVP:Fo(Hz)")[0].value = "197.076";
                    document.getElementsByName("MDVP:Fhi(Hz)")[0].value = "206.896";
                    document.getElementsByName("MDVP:Flo(Hz)")[0].value = "192.055";
                    document.getElementsByName("MDVP:Jitter(%)")[0].value = "0.00289";
                    document.getElementsByName("MDVP:Shimmer")[0].value = "0.01098";
                    document.getElementsByName("NHR")[0].value = "0.00339";
                    document.getElementsByName("RPDE")[0].value = "0.422229";
                    document.getElementsByName("DFA")[0].value = "0.741367";
                    document.getElementsByName("spread1")[0].value = "-7.3483";
                    document.getElementsByName("spread2")[0].value = "0.177551";
                    document.getElementsByName("D2")[0].value = "1.743867";
                }
                // Hide loader after setting values
                document.getElementById("loader").style.display = "none";
            }, 4000); // 3-second delay
        }

        // Event listener for the extract button
        document.getElementById("extract-button").addEventListener("click", loadPlaceholderWithDelay);
    </script>
</body>

</html>
